$black-color: #000;
$white-color: #fff;

:root {
  --primary-color: #eb2f64;
  --primary-light-color: #ff3366;
  --primary-dark-color: #ba265d;

  --grey-light-color-1: #faf9f9;
  --grey-light-color-2: #f4f2f2;
  --grey-light-color-3: #f0eeee;
  --grey-light-color-4: #ccc;

  --grey-dark-color-1: #333;
  --grey-dark-color-2: #777;
  --grey-dark-color-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  --shadow-light: 0 2rem 5rem rgba(0, 0, 0, 0.06);

  --line: 1px solid var(--grey-light-color-2);
}

$bp-largest: 75em;
$bp-larger: 68.75em;
$bp-medium: 56.25em;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media screen and (max-width: $bp-larger) {
    font-size: 50%;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.6;
}
