%outline {
  outline: orangered solid 1px;
  outline-offset: 1px;
}

.body {
  background-image: linear-gradient(135deg, var(--primary-light-color), var(--primary-dark-color));
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--grey-dark-color-2);

  min-height: 100vh;
}

///////////////////////////////////
// LOGO
.logo {
  margin-left: 2rem;
  height: 3.25rem;
}

///////////////////////////////////
// SEARCH
.search-form {
  flex: 0 0 40%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--grey-light-color-2);
    border: none;
    border-radius: 100px;
    padding: 0.7rem 2rem;
    width: 90%;
    transition: all 0.2s;
    margin-right: -3.25rem;

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--grey-light-color-4);
    }

    &:focus {
      @extend %outline;
      width: 100%;
      background-color: var(--grey-light-color-3);
    }
  }

  &__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.1s;

    &:focus {
      @extend %outline;
    }

    &:hover {
      transform: translateY(-0.2rem);
    }
    &:active {
      transform: translateY(0.2rem);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--grey-dark-color-3);
  }
}

///////////////////////////////////
// USER NAVIGATION
.user-nav {
  align-self: stretch;
  display: flex;
  align-items: center;

  & > * {
    padding: 0 2rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  & > *:hover {
    background-color: var(--grey-light-color-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    fill: var(--grey-dark-color-2);
    height: 2.25rem;
    width: 2.25rem;
  }

  &__notification {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 1.75rem;
    height: 1.75rem;
    font-size: 0.8rem;
    color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 1.5rem;
    right: 1.1rem;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__user-name {
    text-transform: lowercase;
    font-weight: 700;
  }
}
