.container {
  max-width: 120rem;
  min-height: 50rem;
  margin: 8rem auto;
  background-color: var(--grey-light-color-1);
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #fff;
  border-bottom-color: var(--grey-light-color-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
  height: 100%;
}

.sidebar {
  background-color: var(--grey-dark-color-1);

  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel-view {
  // background-color: #fff;

  // TODO: Delete bellow properties
  background-color: orangered;
  min-height: 80rem;

  flex: 1;
}
